<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <!--        <link rel='stylesheet' href='http://mottie.github.com/tablesorter/css/theme.blue.css'>
                <link rel='stylesheet' href='http://mottie.github.com/tablesorter/addons/pager/jquery.tablesorter.pager.css'>-->
        <script src='http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js'></script>
        <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>
        <script src='http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js'></script>
        <script src='http://mottie.github.com/tablesorter/js/jquery.tablesorter.min.js'></script>
        <script src='http://mottie.github.com/tablesorter/addons/pager/jquery.tablesorter.pager.js'></script>
        <script src='crud.js'></script>
    </head>
    <body>
        <div class="container">
            <div id='create'></div>

            <table id='datatable' class="table">
            </table>

            <br>

            <div id='details'></div>


            <!-- Templates -->
            <script type='text/template' id='tpl-create'>
                <button class='new'>Create</button>
            </script>

            <script type='text/template' id='thead'>
                <thead>
                <tr>
                <th>id</th>
                <th>Tytuł</th>
                <th>Autor</th>
                <th>Opis</th>
                </tr>
                </thead>
            </script>
            <script type='text/template' id='tpl-ksiazka-list-item'>
                <td><a href='#<%= id %>'><%= id %></a></td>
                <td><%= tytul %></td>
                <td><%= autor %></td>
                <td><%= opis %></td>
            </script>

            <script type='text/template' id='tpl-ksiazka-details'>
            <div>
            <table class="table">
            <tbody>
<!--            <tr><td>Id</td>
            <td>
            <input type='text' id='id' name='id' value='<%= typeof(id)!== "undefined" ? id : "" %>'  />
            </td>-->
            </tr>
            <tr>
            <td><label>Tytuł<label></td><td><input type='text' id='tytul' name='tytul' value='<%= tytul %>'/></td></tr>
            <tr>
            <td><label>Autor</label></td><td><input type='text' id='autor' name='autor' value='<%= autor %>'/></td></tr>
            <tr>
            <td><label>Opis</label></td><td><input type='text' id='opis' name='opis' value='<%= opis %>'/></td></tr>
            </tbody>
            </table>
            <!--
            Put your controls to create new entity here.
            Classes 'save' and 'delete' are used to listen on events in JS code.
            -->
            <button  class='save'>Save</button>
            <button  class='delete'>Delete</button>
            </div>
            </script>

        </div>
    </body>
</html>
